.Homecontainer {
    display: flex;
    width: 87%;
    flex-direction: column;
    overflow:hidden;
    align-items: center;
    margin:0 auto;
}

.collapseSection {
    display: flex;
    width: 87%;
    flex-direction: column;
    overflow:hidden;
    align-items: center;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 150px;
    justify-content: space-around;
}

.collapse {
    display:flex;
    overflow:hidden;
    width: 100%;
    flex-direction: column;
}

.paragraphBox {
    display : flex;
    background: #F7F7F7;
    border-radius: 5px; 
    width: 100%; 
}

.paragraph {
    display:flex;
    color:#FF6060;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    width: 90%;
    text-align : justify;
    align-items: flex-end;
}


