.errorContainer {
    display: flex;
    width: 87%;
    flex-direction: column;
    overflow:hidden;
    align-items: center;
    margin:0 auto;
    font-family: 'Montserrat';
    font-style: normal;
    color: #FF6060;
    margin-bottom:33px;
    margin-top: 30px;
    text-align:center;
}

.errorNumber {
    font-weight: 700;
    font-style:bold;
    font-size: 288px;
    line-height: 142.6%;
    display: flex;
    text-align: center;
    align-items: center;
    margin:0 auto;
    height: 345px;
}
    
.errorText {
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    /* or 51px */
    display: flex;
    align-items: flex-end;
    margin:0 auto;
}

.links {
    color: #FF6060;
    margin-top:130px;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;

}
@media screen and (max-width: 1129px) {
    .errorContainer {
        margin-bottom:64px;
    }
    .errorNumber {
        font-size:200px;
        height:330px;
        margin-top:40px;
        margin-bottom: 20px;
    } 
    .errorText {
        font-size: 20px;
    }
    .links {
        margin-top:79px;
    }
}
@media screen and (max-width: 632px) {
    .errorContainer {
        margin-bottom:164px;
    }
    .errorNumber {
        font-size: 96px;
        height:100px;
        margin-top:130px;
    }
    .errorText {
        font-size: 18px;
        width: 250px;
    }
    .links {
        font-size: 14px;
        
    }
}
@media screen and (max-width: 250px) {
    .errorContainer {
        margin-bottom:169px;
    } 
    
    .errorNumber {
        font-size: 60px;
        
    }
    .errorText {
        font-size: 12px;
    }
    .links {
        font-size: 10px;
    }
}