.homeContainer {
    box-sizing : border-box;
    display: flex;
    width: 93%;
    flex-wrap: wrap;
    overflow-x:hidden;
    justify-content: center;
    align-items:center;
    margin:0 auto;
}
.section {
    display: flex;
    flex-wrap: wrap;
    background-color: #F7F7F7;
    padding:40px;
    border-radius: 25px; 
    width:100%;
    justify-content: space-around;
    cursor: pointer;
    overflow: hidden;
    margin-top:30px;
    margin-bottom: 30px;
}


@media screen and (max-width: 752px) {
    .section {
        background: #FFFFFF;
        margin:0;
        padding-left:0;
        padding-right:0;
    }
}
 @media screen and (max-width: 450px) {
    .section {
        padding-top:20px;  
    }
} 
