.logementContainer {
    box-sizing : border-box;
    display: flex;
    width: 93%;
    flex-wrap: wrap;
    overflow-x:hidden;
    align-items:center;
    margin:0 auto;
    font-family: 'Montserrat';
    font-style: normal;
}

.infoContainer {
    display:flex;
    width: 100%;
    flex-direction: column;
    color: #FF6060;
}

.infoBox {
    display:flex;
    flex-direction: row;
    width:100%;
}

.infoPart1 {
    display:flex;
    flex-direction: column;
    width: 70%;
}

.appartTitle {
    font-size: 36px;
    line-height: 25.67px;
    margin-top:20px;
    margin-bottom: 0px;
    font-weight: 500;
    line-height: 142.6%;
}

.appartLocation {
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    line-height: 142.6%;
    margin:0px;
}

.appartStickers {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding:0px;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;
    margin-top:10px;
}

.sticker {
    display:flex;
    list-style-type: none;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 2%;
    color: #FFFFFF;
    background: #FF6060;
    border-radius: 10px;
    justify-content:center;
    align-items:flex-end;
    padding-bottom: 5px;
    padding-right:5px;
    padding-left:5px;
    min-height:25px;
    min-width:115px;
}

.infoPart2 {
    display:flex;
    width: 50%;
    justify-content: flex-end;
}

.infoPart2Details {
    display:flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.host {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    font-size: 18px;
}

.hostName {
    display:flex;
    width: 93px;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    flex-wrap:wrap;
    text-align: flex-right;
    padding-right:20px;
}

.hostPicture {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    background: #C4C4C4;
}

.ratingContainer {
    display:flex;
}

 .collapseContainer {
    display: flex;
    width:102%;
}
.collapseComments {
    list-style-type: none;
    padding-left:20px;
    padding-right:10px;
    width:100%;
    margin-top:2px;
}


@media screen and (max-width: 993px) {
    .appartTitle {
        font-size: 25px;
    }
    .appartLocation {
        font-size: 18px;
    }
    .appartStickers {
        flex-wrap: wrap;
    }
    .sticker {
        min-height:18px;
        font-size:13px;
        padding-top:2px;
        padding-bottom:2px; 
        
    }
    .infoBox {
        flex-direction: column;
    }
    .infoPart1 {
        width: 100%;
    }
    .infoPart2 {
        width: 100%;
        margin-bottom:20px;
        justify-content:flex-start;
    }
    .infoPart2Details {
        flex-direction: row;
        justify-content:flex-start;
        align-items:center;
        overflow:hidden;
        width:100%;
    }
    .host {
        order:2;
        justify-content:flex-end;
    }
    .hostName {
        font-size: 15px;
        width:50px;
    }
    .ratingContainer {
        order:1;
    }
    .hostPicture {
        width: 50px;
        height: 50px;
    } 
    
    .collapseContainer {
        flex-direction: column;
        margin-bottom:20px;
    }
} 

@media screen and (max-width: 663px) {
    .appartTitle {
        margin-top:7px;
        margin-bottom:7px;
    }
    .appartStickers {
        margin-top:20px;
    }
    .sticker {
        margin-top:0px;
        border-radius:5px;
    }
    .collapseContainer {
        margin-bottom:88px;
    }
}
@media screen and (max-width: 450px) {
    .collapseContainer {
        margin-bottom:120px;
    }
    .appartTitle {
        font-size: 18px;
    }
    .appartLocation {
        font-size: 14px;
    }
    .sticker {
        font-size:10px;
        min-height:14px;
        min-width:15px;
    }
    .hostName {
        font-size: 12px;
    }
    .hostPicture {
        width: 32px;
        height: 32px;
    }
}
@media screen and (max-width: 230px) {
    .collapseContainer {
        margin-bottom:59px;
    }
    .infoPart2Details {
        flex-direction:column;
        align-items:flex-start;
    }
    .host {
        flex-direction:column;
        margin-top:10px;
        align-items:flex-start;
    }
    .hostName {
        align-items:flex-start;
    }
    

}